Options -Indexes
AddDefaultCharset UTF-8
IndexIgnore */*
Options FollowSymlinks
RewriteEngine on
RewriteRule ^(.+)?$ /web/$1


RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP/
RewriteRule ^index\.html$ http://landsal/ [R=301,L]

RewriteRule /kupit-uchastok /kupit [L,R=301]
RewriteRule /kupit-uchastok\.html /kupit [L,R=301]
RewriteRule /uchastok-625\.html /uchastok-625 [L,R=301]
RewriteRule /aerial_photo\.html /aerial_photo [L,R=301]
RewriteRule /information\.html /information [L,R=301]
RewriteRule /kupit\.html /kupit [L,R=301]
RewriteRule /photo\.html /photo [L,R=301]
RewriteRule /raspolojenie\.html /raspolojenie [L,R=301]
RewriteRule /srochnyi-vykup\.html /srochnyi-vykup [L,R=301]
RewriteRule /uchastok-91\.html /uchastok-91 [L,R=301]
RewriteRule /uchastok-116\.html /uchastok-116 [L,R=301]
RewriteRule /uchastok-172\.html /uchastok-172 [L,R=301]
RewriteRule /uchastok-175\.html /uchastok-175 [L,R=301]
RewriteRule /uchastok-200\.html /uchastok-200 [L,R=301]
RewriteRule /uchastok-301\.html /uchastok-301 [L,R=301]
RewriteRule /uchastok-408\.html /uchastok-408 [L,R=301]
RewriteRule /uchastok-481\.html /uchastok-481 [L,R=301]
RewriteRule /uchastok-482\.html /uchastok-482 [L,R=301]
RewriteRule /uchastok-500\.html /uchastok-500 [L,R=301]
RewriteRule /uchastok-505\.html /uchastok-505 [L,R=301]
RewriteRule /uchastok-522\.html /uchastok-522 [L,R=301]
RewriteRule /uchastok-533\.html /uchastok-533 [L,R=301]
RewriteRule /uchastok-533-2\.html /uchastok-533-2 [L,R=301]
RewriteRule /uchastok-558\.html /uchastok-558 [L,R=301]
RewriteRule /uchastok-615\.html /uchastok-615 [L,R=301]
RewriteRule /uchastok-619\.html /uchastok-619 [L,R=301]
RewriteRule /uchastok-629\.html /uchastok-629 [L,R=301]
RewriteRule /uchastok-630\.html /uchastok-630 [L,R=301]
RewriteRule /uchastok-632\.html /uchastok-632 [L,R=301]
RewriteRule /uchastok-644\.html /uchastok-644 [L,R=301]
RewriteRule /uchastok-685\.html /uchastok-685 [L,R=301]
RewriteRule /uchastok-765\.html /uchastok-765 [L,R=301]






RewriteRule /images/photki/kalachevo-derevnya-1.jpg /web/images/photki/kalachevo-derevnya-1.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-2.jpg /web/images/photki/kalachevo-derevnya-2.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-3.jpg /web/images/photki/kalachevo-derevnya-3.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-4.jpg /web/images/photki/kalachevo-derevnya-4.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-5.jpg /web/images/photki/kalachevo-derevnya-5.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-6.jpg /web/images/photki/kalachevo-derevnya-6.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-7.jpg /web/images/photki/kalachevo-derevnya-7.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-8.jpg /web/images/photki/kalachevo-derevnya-8.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-9.jpg /web/images/photki/kalachevo-derevnya-9.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-10.jpg /web/images/photki/kalachevo-derevnya-10.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-11.jpg /web/images/photki/kalachevo-derevnya-11.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-12.jpg /web/images/photki/kalachevo-derevnya-12.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-13.jpg /web/images/photki/kalachevo-derevnya-13.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-14.jpg /web/images/photki/kalachevo-derevnya-14.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-15.jpg /web/images/photki/kalachevo-derevnya-15.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-16.jpg /web/images/photki/kalachevo-derevnya-16.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-17.jpg /web/images/photki/kalachevo-derevnya-17.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-18.jpg /web/images/photki/kalachevo-derevnya-18.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-19.jpg /web/images/photki/kalachevo-derevnya-19.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-20.jpg /web/images/photki/kalachevo-derevnya-20.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-21.jpg /web/images/photki/kalachevo-derevnya-21.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-22.jpg /web/images/photki/kalachevo-derevnya-22.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-23.jpg /web/images/photki/kalachevo-derevnya-23.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-24.jpg /web/images/photki/kalachevo-derevnya-24.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-25.jpg /web/images/photki/kalachevo-derevnya-25.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-26.jpg /web/images/photki/kalachevo-derevnya-26.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-27.jpg /web/images/photki/kalachevo-derevnya-27.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-28.jpg /web/images/photki/kalachevo-derevnya-28.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-29.jpg /web/images/photki/kalachevo-derevnya-29.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-30.jpg /web/images/photki/kalachevo-derevnya-30.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-31.jpg /web/images/photki/kalachevo-derevnya-31.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-32.jpg /web/images/photki/kalachevo-derevnya-32.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-33.jpg /web/images/photki/kalachevo-derevnya-33.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-34.jpg /web/images/photki/kalachevo-derevnya-34.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-35.jpg /web/images/photki/kalachevo-derevnya-35.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-36.jpg /web/images/photki/kalachevo-derevnya-36.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-37.jpg /web/images/photki/kalachevo-derevnya-37.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-38.jpg /web/images/photki/kalachevo-derevnya-38.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-39.jpg /web/images/photki/kalachevo-derevnya-39.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-40.jpg /web/images/photki/kalachevo-derevnya-40.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-41.jpg /web/images/photki/kalachevo-derevnya-41.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-42.jpg /web/images/photki/kalachevo-derevnya-42.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-43.jpg /web/images/photki/kalachevo-derevnya-43.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-44.jpg /web/images/photki/kalachevo-derevnya-44.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-45.jpg /web/images/photki/kalachevo-derevnya-45.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-46.jpg /web/images/photki/kalachevo-derevnya-46.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-47.jpg /web/images/photki/kalachevo-derevnya-47.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-48.jpg /web/images/photki/kalachevo-derevnya-48.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-49.jpg /web/images/photki/kalachevo-derevnya-49.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-50.jpg /web/images/photki/kalachevo-derevnya-50.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-51.jpg /web/images/photki/kalachevo-derevnya-51.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-52.jpg /web/images/photki/kalachevo-derevnya-52.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-53.jpg /web/images/photki/kalachevo-derevnya-53.jpg [L,R=301]
RewriteRule /images/photki/kalachevo-derevnya-54.jpg /web/images/photki/kalachevo-derevnya-54.jpg [L,R=301]


RewriteRule /images/index/kalachevo-1.png /web/images/index/kalachevo-1.png [L,R=301]
RewriteRule /images/index/kalachevo-2.png /web/images/index/kalachevo-2.png [L,R=301]
RewriteRule /images/index/kalachevo-3.png /web/images/index/kalachevo-3.png [L,R=301]


RewriteRule /images/uchastok-625/map.jpg /web/images/uchastok-625/map.jpg [L,R=301]
RewriteRule /images/uchastok-625/1.1.jpg /web/images/uchastok-625/1.1.jpg [L,R=301]
RewriteRule /images/uchastok-625/1.jpg /web/images/uchastok-625/1.jpg [L,R=301]
RewriteRule /images/uchastok-625/2.jpg /web/images/uchastok-625/2.jpg [L,R=301]
RewriteRule /images/uchastok-625/3.jpg /web/images/uchastok-625/3.jpg [L,R=301]

RewriteRule /images/uchastok-644/map.jpg /web/images/uchastok-644/map.jpg [L,R=301]
RewriteRule /images/uchastok-644/1.jpg /web/images/uchastok-644/1.jpg [L,R=301]
RewriteRule /images/uchastok-644/2.jpg /web/images/uchastok-644/2.jpg [L,R=301]
RewriteRule /images/uchastok-644/3.jpg /web/images/uchastok-644/3.jpg [L,R=301]
RewriteRule /images/uchastok-644/4.jpg /web/images/uchastok-644/4.jpg [L,R=301]
RewriteRule /images/uchastok-644/5.jpg /web/images/uchastok-644/5.jpg [L,R=301]
RewriteRule /images/uchastok-644/6.jpg /web/images/uchastok-644/6.jpg [L,R=301]

RewriteRule /images/uchastok-481/map.jpg /web/images/uchastok-481/map.jpg [L,R=301]
RewriteRule /images/uchastok-481/1.jpg /web/images/uchastok-481/1.jpg [L,R=301]
RewriteRule /images/uchastok-481/2.jpg /web/images/uchastok-481/2.jpg [L,R=301]
RewriteRule /images/uchastok-481/3.jpg /web/images/uchastok-481/3.jpg [L,R=301]
RewriteRule /images/uchastok-481/4.jpg /web/images/uchastok-481/4.jpg [L,R=301]
RewriteRule /images/uchastok-481/5.jpg /web/images/uchastok-481/5.jpg [L,R=301]


RewriteRule /images/uchastok-482/map.jpg /web/images/uchastok-482/map.jpg [L,R=301]
RewriteRule /images/uchastok-482/1.jpg /web/images/uchastok-482/1.jpg [L,R=301]
RewriteRule /images/uchastok-482/2.jpg /web/images/uchastok-482/2.jpg [L,R=301]
RewriteRule /images/uchastok-482/3.jpg /web/images/uchastok-482/3.jpg [L,R=301]
RewriteRule /images/uchastok-482/4.jpg /web/images/uchastok-482/4.jpg [L,R=301]

RewriteRule /images/uchastok-172/map.jpg /web/images/uchastok-172/map.jpg [L,R=301]
RewriteRule /images/uchastok-172/1.jpg /web/images/uchastok-172/1.jpg [L,R=301]
RewriteRule /images/uchastok-172/2.jpg /web/images/uchastok-172/2.jpg [L,R=301]
RewriteRule /images/uchastok-172/3.jpg /web/images/uchastok-172/3.jpg [L,R=301]
RewriteRule /images/uchastok-172/4.jpg /web/images/uchastok-172/4.jpg [L,R=301]

RewriteRule /images/uchastok-91/map.jpg /web/images/uchastok-91/map.jpg [L,R=301]
RewriteRule /images/uchastok-91/1.jpg /web/images/uchastok-91/1.jpg [L,R=301]
RewriteRule /images/uchastok-91/2.jpg /web/images/uchastok-91/2.jpg [L,R=301]
RewriteRule /images/uchastok-91/3.jpg /web/images/uchastok-91/3.jpg [L,R=301]
RewriteRule /images/uchastok-91/4.jpg /web/images/uchastok-91/4.jpg [L,R=301]
RewriteRule /images/uchastok-91/5.jpg /web/images/uchastok-91/5.jpg [L,R=301]

RewriteRule /images/uchastok-116/map.png /web/images/uchastok-116/map.png [L,R=301]
RewriteRule /images/uchastok-116/1.jpg /web/images/uchastok-116/1.jpg [L,R=301]
RewriteRule /images/uchastok-116/2.jpg /web/images/uchastok-116/2.jpg [L,R=301]
RewriteRule /images/uchastok-116/3.jpg /web/images/uchastok-116/3.jpg [L,R=301]
RewriteRule /images/uchastok-116/4.jpg /web/images/uchastok-116/4.jpg [L,R=301]

RewriteRule /images/uchastok-175/map.jpg /web/images/uchastok-175/map.jpg [L,R=301]
RewriteRule /images/uchastok-175/1.jpg /web/images/uchastok-175/1.jpg [L,R=301]
RewriteRule /images/uchastok-175/2.jpg /web/images/uchastok-175/2.jpg [L,R=301]
RewriteRule /images/uchastok-175/3.jpg /web/images/uchastok-175/3.jpg [L,R=301]
RewriteRule /images/uchastok-175/4.jpg /web/images/uchastok-175/4.jpg [L,R=301]

RewriteRule /images/uchastok-200/6.jpg /web/images/uchastok-200/6.jpg [L,R=301]
RewriteRule /images/uchastok-200/1.jpg /web/images/uchastok-200/1.jpg [L,R=301]
RewriteRule /images/uchastok-200/2.jpg /web/images/uchastok-200/2.jpg [L,R=301]
RewriteRule /images/uchastok-200/3.jpg /web/images/uchastok-200/3.jpg [L,R=301]
RewriteRule /images/uchastok-200/4.jpg /web/images/uchastok-200/4.jpg [L,R=301]
RewriteRule /images/uchastok-200/5.jpg /web/images/uchastok-200/5.jpg [L,R=301]

RewriteRule /images/uchastok-301/map.png /web/images/uchastok-301/map.png [L,R=301]
RewriteRule /images/uchastok-301/1.jpg /web/images/uchastok-301/1.jpg [L,R=301]
RewriteRule /images/uchastok-301/2.jpg /web/images/uchastok-301/2.jpg [L,R=301]
RewriteRule /images/uchastok-301/3.jpg /web/images/uchastok-301/3.jpg [L,R=301]

RewriteRule /images/uchastok-408/1.jpg /web/images/uchastok-408/1.jpg [L,R=301]
RewriteRule /images/uchastok-408/2.jpg /web/images/uchastok-408/2.jpg [L,R=301]
RewriteRule /images/uchastok-408/3.jpg /web/images/uchastok-408/3.jpg [L,R=301]
RewriteRule /images/uchastok-408/4.jpg /web/images/uchastok-408/4.jpg [L,R=301]

RewriteRule /images/uchastok-500/map.png /web/images/uchastok-500/map.jpg [L,R=301]
RewriteRule /images/uchastok-500/1.jpg /web/images/uchastok-500/1.jpg [L,R=301]
RewriteRule /images/uchastok-500/2.jpg /web/images/uchastok-500/2.jpg [L,R=301]
RewriteRule /images/uchastok-500/3.jpg /web/images/uchastok-500/3.jpg [L,R=301]
RewriteRule /images/uchastok-500/4.jpg /web/images/uchastok-500/4.jpg [L,R=301]

RewriteRule /images/uchastok-505/map.png /web/images/uchastok-505/map.png [L,R=301]
RewriteRule /images/uchastok-505/1.jpg /web/images/uchastok-505/1.jpg [L,R=301]
RewriteRule /images/uchastok-505/2.jpg /web/images/uchastok-505/2.jpg [L,R=301]
RewriteRule /images/uchastok-505/3.jpg /web/images/uchastok-505/3.jpg [L,R=301]
RewriteRule /images/uchastok-505/4.jpg /web/images/uchastok-505/4.jpg [L,R=301]
RewriteRule /images/uchastok-505/5.jpg /web/images/uchastok-505/5.jpg [L,R=301]

RewriteRule /images/uchastok-522/map.png /web/images/uchastok-522/map.jpg [L,R=301]
RewriteRule /images/uchastok-522/1.jpg /web/images/uchastok-522/1.jpg [L,R=301]
RewriteRule /images/uchastok-522/2.jpg /web/images/uchastok-522/2.jpg [L,R=301]
RewriteRule /images/uchastok-522/3.jpg /web/images/uchastok-522/3.jpg [L,R=301]
RewriteRule /images/uchastok-522/4.jpg /web/images/uchastok-522/4.jpg [L,R=301]
RewriteRule /images/uchastok-522/5.jpg /web/images/uchastok-522/5.jpg [L,R=301]
RewriteRule /images/uchastok-522/6.jpg /web/images/uchastok-522/6.jpg [L,R=301]


RewriteRule /images/uchastok-533/map.png /web/images/uchastok-533/map.jpg [L,R=301]
RewriteRule /images/uchastok-533/533-2.jpg /web/images/uchastok-533/533-2.jpg [L,R=301]
RewriteRule /images/uchastok-533/1.jpg /web/images/uchastok-533/1.jpg [L,R=301]
RewriteRule /images/uchastok-533/2.jpg /web/images/uchastok-533/2.jpg [L,R=301]
RewriteRule /images/uchastok-533/3.jpg /web/images/uchastok-533/3.jpg [L,R=301]
RewriteRule /images/uchastok-533/4.jpg /web/images/uchastok-533/4.jpg [L,R=301]
RewriteRule /images/uchastok-533/5.jpg /web/images/uchastok-533/5.jpg [L,R=301]
RewriteRule /images/uchastok-533/6.jpg /web/images/uchastok-533/6.jpg [L,R=301]

RewriteRule /images/uchastok-558/map.jpg /web/images/uchastok-558/map.jpg [L,R=301]
RewriteRule /images/uchastok-558/1.jpg /web/images/uchastok-558/1.jpg [L,R=301]
RewriteRule /images/uchastok-558/2.jpg /web/images/uchastok-558/2.jpg [L,R=301]
RewriteRule /images/uchastok-558/3.jpg /web/images/uchastok-558/3.jpg [L,R=301]
RewriteRule /images/uchastok-558/4.jpg /web/images/uchastok-558/4.jpg [L,R=301]
RewriteRule /images/uchastok-558/5.jpg /web/images/uchastok-558/5.jpg [L,R=301]
RewriteRule /images/uchastok-558/6.jpg /web/images/uchastok-558/6.jpg [L,R=301]

RewriteRule /images/uchastok-615/map.jpg /web/images/uchastok-615/map.jpg [L,R=301]
RewriteRule /images/uchastok-615/1.jpg /web/images/uchastok-615/1.jpg [L,R=301]
RewriteRule /images/uchastok-615/2.jpg /web/images/uchastok-615/2.jpg [L,R=301]
RewriteRule /images/uchastok-615/3.jpg /web/images/uchastok-615/3.jpg [L,R=301]

RewriteRule /images/uchastok-619/map.png /web/images/uchastok-619/map.png [L,R=301]
RewriteRule /images/uchastok-619/1.jpg /web/images/uchastok-619/1.jpg [L,R=301]
RewriteRule /images/uchastok-619/2.jpg /web/images/uchastok-619/2.jpg [L,R=301]
RewriteRule /images/uchastok-619/3.jpg /web/images/uchastok-619/3.jpg [L,R=301]
RewriteRule /images/uchastok-619/4.jpg /web/images/uchastok-619/4.jpg [L,R=301]

RewriteRule /images/uchastok-629/map.jpg /web/images/uchastok-629/map.jpg [L,R=301]
RewriteRule /images/uchastok-629/1.jpg /web/images/uchastok-629/1.jpg [L,R=301]
RewriteRule /images/uchastok-629/2.jpg /web/images/uchastok-629/2.jpg [L,R=301]
RewriteRule /images/uchastok-629/3.jpg /web/images/uchastok-629/3.jpg [L,R=301]
RewriteRule /images/uchastok-629/4.jpg /web/images/uchastok-629/4.jpg [L,R=301]


RewriteRule /images/uchastok-630/1.png /web/images/uchastok-630/1.png [L,R=301]
RewriteRule /images/uchastok-630/2.jpg /web/images/uchastok-630/2.jpg [L,R=301]
RewriteRule /images/uchastok-630/3.jpg /web/images/uchastok-630/3.jpg [L,R=301]
RewriteRule /images/uchastok-630/4.jpg /web/images/uchastok-630/4.jpg [L,R=301]
RewriteRule /images/uchastok-630/5.jpg /web/images/uchastok-630/5.jpg [L,R=301]
RewriteRule /images/uchastok-630/6.jpg /web/images/uchastok-630/6.jpg [L,R=301]
RewriteRule /images/uchastok-630/7.jpg /web/images/uchastok-630/7.jpg [L,R=301]
RewriteRule /images/uchastok-630/8.jpg /web/images/uchastok-630/8.jpg [L,R=301]


RewriteRule /images/uchastok-632/map.jpg /web/images/uchastok-632/map.jpg [L,R=301]
RewriteRule /images/uchastok-632/1.jpg /web/images/uchastok-632/1.jpg [L,R=301]
RewriteRule /images/uchastok-632/2.jpg /web/images/uchastok-632/2.jpg [L,R=301]
RewriteRule /images/uchastok-632/3.jpg /web/images/uchastok-632/3.jpg [L,R=301]
RewriteRule /images/uchastok-632/4.jpg /web/images/uchastok-632/4.jpg [L,R=301]


RewriteRule /images/uchastok-685/uchastok-685.jpg /web/images/uchastok-685/uchastok-685.jpg [L,R=301]
RewriteRule /images/uchastok-685/1.jpg /web/images/uchastok-685/1.jpg [L,R=301]
RewriteRule /images/uchastok-685/2.jpg /web/images/uchastok-685/2.jpg [L,R=301]
RewriteRule /images/uchastok-685/3.jpg /web/images/uchastok-685/3.jpg [L,R=301]
RewriteRule /images/uchastok-685/4.jpg /web/images/uchastok-685/4.jpg [L,R=301]
RewriteRule /images/uchastok-685/5.jpg /web/images/uchastok-685/5.jpg [L,R=301]
RewriteRule /images/uchastok-685/6.jpg /web/images/uchastok-685/6.jpg [L,R=301]
RewriteRule /images/uchastok-685/7.jpg /web/images/uchastok-685/7.jpg [L,R=301]
RewriteRule /images/uchastok-685/8.jpg /web/images/uchastok-685/8.jpg [L,R=301]
RewriteRule /images/uchastok-685/9.jpg /web/images/uchastok-685/9.jpg [L,R=301]

RewriteRule /images/uchastok-765/1.jpg /web/images/uchastok-765/1.jpg [L,R=301]
RewriteRule /images/uchastok-765/2.jpg /web/images/uchastok-765/2.jpg [L,R=301]
RewriteRule /images/uchastok-765/3.jpg /web/images/uchastok-765/3.jpg [L,R=301]
RewriteRule /images/uchastok-765/4.jpg /web/images/uchastok-765/4.jpg [L,R=301]
RewriteRule /images/uchastok-765/5.jpg /web/images/uchastok-765/5.jpg [L,R=301]
RewriteRule /images/uchastok-765/6.jpg /web/images/uchastok-765/6.jpg [L,R=301]
RewriteRule /images/uchastok-765/7.jpg /web/images/uchastok-765/7.jpg [L,R=301]
